.hero-section {
  font-family: "Amaranth", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  /* background: lightgreen; */
}

.hero-section h2 {
  font-size: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section p {
  margin-top: 15px;
  font-size: 20px;
}

.hero-section button {
  font-family: "Inconsolata", monospace;
  background: #d2d2d2;
  color: #303030;
  margin: 20px 0;
  font-size: 22px;
  padding: 10px 25px;
  border-radius: 1rem;
  border: 2px solid #ec8525;
  cursor: pointer;
}

.hero-section button:hover {
  font-weight: bold;
  color: #676767;
  background: #ec8525;
}

.hero-section button a {
  color: #303030;
  text-decoration: none;
}

.products {
  margin-right: 10px;
  color: #676767;
}
.users {
  color: #ec8525;
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
  .hero-section h2 {
    font-size: 40px;
  }
  .hero-section p {
    font-size: 16px;
  }
}
