/* NAVBAR STYLES */
.navbar-container {
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  margin-left: 93px;
}

.nav-right {
  display: flex;
  margin-right: 79px;
}

/* LOGO SECTION STYLES */
.logo {
  width: 90px;
  height: 50px;
}

.logo a {
  text-decoration: none;
  color: #303030;
}

.logo span:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* LINKS STYLES */
.links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 55px;
}
.links a {
  color: #303030;
  text-decoration: none;
  margin: 15px;
}

.links a.active::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ec8525;
}

.toggle-mode {
  display: flex;
  align-items: center;
}
.toggle-mode svg {
  width: 24px;
}

/* MOBILE STYLES */
.mobile-nav-right {
  width: 75px;
  height: 100%;
  display: none;
  margin-right: 20px;
  justify-content: space-between;
}

.mobile-nav-right svg {
  cursor: pointer;
  width: 24px;
}

.mobile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d2d2d2;
  z-index: 5;
  font-family: "Amaranth", sans-serif;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: none;
}

.mobile-overlay header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  font-size: 20px;
}
.mobile-overlay header .logo {
  margin-left: 20px;
}

.mobile-overlay header .mobile-icons {
  margin-right: 20px;
}

.mobile-icons {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.mobile-icons svg {
  top: 25px;
  right: 100px;
  width: 24px;
  cursor: pointer;
}

.mobile-overlay svg:hover {
  fill: #ec8525;
}

.mobile-overlay nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile-overlay nav a {
  color: #303030;
  text-decoration: none;
  margin-bottom: 36px;
}

.mobile-overlay nav a:hover {
  color: #ec8525;
}

@media screen and (max-width: 900px) {
  .nav-left {
    margin-left: 20px;
  }
  .nav-right,
  .toggle-mode svg {
    display: none;
  }
  .mobile-nav-right {
    display: flex;
  }
  .mobile-nav-right svg {
    margin-top: -25px;
  }
  .mobile-nav-right svg:nth-child(1) {
    width: 20px;
  }
}
